a:link, a:active, a:visited, a:hover {
  text-decoration: none;
  color: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
/*-----------------------------------*/
html, body {
  height: 100%; }
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
header{
  display: -webkit-flex;
  display: flex;
  background-color: #cc151a;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
}
.logo{
  display: -webkit-flex;
  display: flex;
  padding: 20px;
  -webkit-align-items: center;
  align-items: center;
}
header .przycisk{
  padding: 20px;
  color: #cc151a;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 1);
}
header .przycisk:hover{
  padding: 20px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 1);
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}
.lang{
  color: white;
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  font-size: 26px;
}
.lang a{
  padding: 20px;
}
.lang a:hover{
  transition: color 1s ease;
  color: #ea1b2a;
}
section{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-grow: 1;
}
.domena{
  border-left: 1px solid #cc151a;
  border-bottom: 1px solid #cc151a;
  min-height: 400px;
  flex-grow: 1;
}
