@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html, body {
  height: 100%;
}
/*------- BODY ------ */
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: white;
}
/*------- HEADER ------ */
header{
  display: -webkit-flex;
  display: flex;
  background-color: #cc151a;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav{
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
header a{
  padding: 20px;
  color: white;
}
header a:hover{
  transition: all 0.3s ease;
  color: #8a2927;
}
header .logo{
    padding: 20px;
}
header .logo img{
  height: 80px;
}
section{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-grow: 1;
}
.domena{
  border-left: 1px solid #cc151a;
  border-bottom: 1px solid #cc151a;
  flex-grow: 1;
}
