@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css*/
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6{
  font-size:100%;
  font-weight:normal;
}
ul{
  list-style:none;
}
button,input,select,textarea{
  margin:0;
}
html{
  box-sizing:border-box;
}
*,*:before,*:after{
  box-sizing:inherit;
}

iframe{
  border:0;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
td,th{
  padding:0;
  text-align:left;
}
a:link, a:active, a:visited, a:hover {
  text-decoration: none;
  color: inherit; }


html, body {
  height: 100%;
}
/*------- BODY ------- */
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: Roboto, "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: white;
}
/*------- HEADER ------ */
header{
  display: -webkit-flex;
  display: flex;
  background-color: #cc151a;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav{
  display: flex;
  align-items: center;
}
header a{
  padding: 15px;
  color: white;
  fill: white;

}
header a:hover{
  transition: all 0.3s ease;
  color: #8a2927;
  fill: #8a2927;
}
/*------- DOMENY -------*/
section{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch;
}
.domena{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px dashed #cc151a;
  border-bottom: 1px dashed #cc151a;
  width: 20%;
}
.domena img{
  height: 80px;
  width: 90%;
}
.domena a{
  font-weight: 500;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 48px;
  margin: 20px 10px 0;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(204, 21, 26, 1);
  border: 2px dashed rgba(204, 21, 26, 0);
}
.domena a:hover{
  transition: all 0.3s ease;
  color: rgba(204, 21, 26, 1);
  background-color: rgba(204, 21, 26, 0);
  border: 2px dashed rgba(204, 21, 26, 1);
}
.domena p{
  font-weight: 500;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 0;
  padding: 10px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px dashed rgba(204, 21, 26, 0);
}
.domena p:hover{
  transition: all 0.3s ease;
  color: rgba(204, 21, 26, 1);
  background-color: rgba(204, 21, 26, 0);
  border: 2px dashed rgba(204, 21, 26, 1);
}
.linki{
	margin-top: 20px;
  display: -webkit-flex;
  display: flex;
}
.dom1{
  background-image: url(img/bg/sztandary.jpg);
  background-position: center center;
  background-size: cover;
}
.dom2{
  background-image: url(img/bg/atelier.jpg);
  background-position: left center;
  background-size: cover;
}
.dom3{
  background-image: url(img/bg/apliq.jpg);
  background-position: center center;
  background-size: cover;
}
.dom4{
  background-image: url(img/bg/ds.jpg);
  background-position: center center;
  background-size: cover;
}
.dom5{
  background-image: url(img/bg/haftina.jpg);
  background-position: right center;
  background-size: cover;
}
.left {
	margin-left: 20px;
}

.left a{
	padding-right: 30px;
}

.right {
	margin-right: 20px;
}

@media only screen
  and (max-device-width: 1024px){
    section{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .domena{
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-grow: 1;
    }
    .domena .linki{
      margin: 30px;
    }
    .domena img{
      height: auto;
      width: auto;
      min-width: 50%;
      margin: 20px;
    }
    .linki{
      font-size: 20px;
      margin-top: 20px;
      display: -webkit-flex;
      display: flex;
    }
    .domena p{
      font-size: 12px;
      text-align: center;
    }
}
