@import "reset.scss";
@import "toast.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300&subset=latin,latin-ext);

:root{
  font-size: 16px;
}
.wraper{
  z-index: 1;
}
body{
  background-color: white;
  font-family: 'Open Sans', "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
}
header{
  text-transform: uppercase;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
  margin-bottom: 100px;
  max-width: 800px;
  width: 100%;
}
main{
  padding: 0 10px;
}
.title{
  color: #2a363b;
  font-weight: 700;
  line-height: 30px;
  font-size: 30px;
}
/*Menu*/
header nav{
  padding-top: 26px;
}
header nav li{
  float: left;
  padding-right: 30px;
}
header nav li:last-child{
  padding-right: 0px;
}
header nav li a{
  color: rgba(42, 54, 59, 0.7);
  font-weight: 500;
  line-height: 30px;
  font-size: 20 px;
  transition: color 0.2s linear;
}
header nav li a:hover{
  color: rgba(42, 54, 59, 1);
}
  /*Article style*/
article a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  text-align: right;
  height: 75vh;
  min-height: 500px;

  /*Text*/
  color: rgba(255, 255, 255, 0);

  /*Background properties*/
  background-image: url(images/test.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: inset 0px -500vh 0px 0px rgba(0,0,0,0);

  /*Transition properties*/
  transition-property: box-shadow, color;
  transition-duration: 0.2s, 0.4s;
  transition-timing-function: linear, ease-out;
}
/*Article animation*/
article a:hover{
  box-shadow: inset 0px -500vh 0px 0px rgba(0,0,0,0.8);
  color: rgba(255, 255, 255, 1);
}
.article-title{
  font-size: 4rem;
  z-index: 4;
}
/*Footer*/
footer{
  text-align: center;
  padding: 60px;
  color: rgba(42, 54, 59, 0.7);
  font-weight: 400;
  font-size: 1rem;
}
/*Side menu options*/
.toggle{
  display: none;
  z-index: 2;
  position: fixed;
  top: 20px;
  left: 20px;
  color: black;
  font-size: 30px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}
.cross{
  display: none;
  z-index: 4;
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}
.page{
  overflow: hidden;
  z-index: 0;
  position: relative;
}
.side-menu{
  display: none;
  z-index: 3;
  position: fixed;
  top: 0px;
  left: -100vw;
  bottom: 0px;
  width: 100vw;
  background-color: #333;
}
/*Side menu link styes*/
.side-menu nav{
  padding: 26px;
}
.side-menu nav li{
  text-align: center;
  padding-bottom: 26px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}
.side-menu nav li a{
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s linear;
}
.side-menu nav li a:hover{
  color: rgba(255, 255, 255, 1);
}
#sidebartoggler{
  display: none;
}
#sidebartoggler:checked + .wraper .side-menu{
  left: 0vw;
}
#sidebartoggler:checked + .wraper .side-menu .cross{
  display: block;
}
/*Media options*/
@media (max-width: $toast-breakpoint-small){
  .toggle{
    display: block;
  }
  .side-menu{
    display: block;
  }
  header nav{
    display: none;
  }
  header{
    text-align: center;
  }
}
@media (max-width: $toast-breakpoint-medium) and (min-width: $toast-breakpoint-small) {
  header{
    padding: 0 20px;
  }
}
@media only screen and (max-device-width: 1000px) and (min-device-width: 320px) and (orientation:portrait){
  .toggle{
    display: block;
  }
  .side-menu{
    display: block;
  }
  header nav{
    display: none;
  }
  header{
    text-align: center;
  }
}
@media only screen and (max-device-width: 1000px) and (min-device-width: 320px) and (orientation:landscape){
  header{
    padding: 0 20px;
  }
}
