@import "reset.scss";
@import "toast.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300&subset=latin,latin-ext);

:root{
  font-size: 16px;
}

body{
  background-color: white;
  font-family: 'Open Sans', "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
}
header{
  text-transform: uppercase;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
  margin-bottom: 100px;
  max-width: 800px;
  width: 100%;
}
main{
  padding: 0 10px;
}
.title{
  color: #2a363b;
  font-weight: 700;
  line-height: 30px;
  font-size: 30px;
}
/*Menu*/
nav{
  padding-top: 26px;
}
nav li{
  float: left;
  padding-right: 30px;
}
nav li:last-child{
  padding-right: 0px;
}
nav li a{
  color: rgba(42, 54, 59, 0.7);
  font-weight: 500;
  line-height: 30px;
  font-size: 20 px;
  transition: color 0.2s linear;
}
nav li a:hover{
  color: rgba(42, 54, 59, 1);
}
  /*Article style*/
article a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  text-align: right;
  height: 75vh;
  min-height: 500px;

  /*Text*/
  color: rgba(255, 255, 255, 0);

  /*Background properties*/
  background-image: url(images/test.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: inset 0px -100vh 0px 0px rgba(0,0,0,0);

  /*Transition properties*/
  transition-property: box-shadow, color;
  transition-duration: 0.2s, 0.4s;
  transition-timing-function: linear, ease-out;
}
/*Article animation*/
article a:hover{
  box-shadow: inset 0px -100vh 0px 0px rgba(0,0,0,0.8);
  color: rgba(255, 255, 255, 1);
}
.article-title{
  font-size: 4rem;
  z-index: 2;
}
/*Footer*/
footer{
  text-align: center;
  padding: 60px;
  color: rgba(42, 54, 59, 0.7);
  font-weight: 400;
  font-size: 1rem;
}
@media (max-width: $toast-breakpoint-small){
  header{
    text-align: center;
  }
}
